.img{
  height: 80px;
  width: 100%;
}
p{
  color: black;
}
.box{
  color: white;
}
h1{
  text-align: center;
  color: white;
}
.wh{
  color: white;
}
.form-container{
  background-color:darkslategrey;
  width: 320px;
  padding: 20px;
  border: 1px solid white;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 0px;
  margin: 0 auto;
  margin-top: opx;
  margin-right: 15%;
  text-align: center;
  border-spacing: 40px;
}
.Benefit{
text-align: left;
}
.one{
margin-top: 10px!important;
}
.two{
  padding-left: 10px!important;
}
.img-1{
  width:38px;
  margin-right: 20px;
}
.p-space{
  margin-right: 100px!important;
}

