.img{
  height: 80px;
  width: 100%;
}
p{
  color: black;
}
.box{
  color: white;
}
h1{
  text-align: center;
  color: white;
}
.form-container{
  background-color:darkslategrey;
  width: 320px;
  padding: 20px;
  border: 1px solid white;
  border-radius: 0px;
  margin: 0 auto;
  margin-top: opx;
  margin-right: 15%;
  text-align: center;
  border-spacing: 40px;
}
.Benefit{
text-align: left;
}

